.navbar{
    padding: 20px 50px;
    background-color: #beb9b9;
    box-shadow: 0px 4px #a39898;
}
.navbar-brand{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav-link{
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
}
.ml-auto{
    margin-left: 30vw;
}